.proyecto__container{
    padding: 6rem 0;
    width: 90%;
}

.proyecto__uxi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* TEXTOS Y BOTONES */

.proyecto__uxi-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.proyecto__uxi-botones{
    display: flex;
    justify-content: space-between;
}

.proyecto__uxi-boton-fill{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    width: 45%;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    border-radius: 40px;
    background: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #262527;
}

.proyecto__uxi-boton-line{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    width: 45%;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    border-radius: 40px;
    background: #ffffff00;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    border: solid 1px #fff;
}




/* IMAGEN */

.proyecto__uxi-img{
    width: 50%;

}

.proyecto__uxi-img img{
    width: 100%;

}


/* PROYECTO 02 */

.proyecto__uxi-02{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}