.banner__principal{
    width: 100vw;
    background-image: url(../../imgs/tira-imagenes.png);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-top: 100px;

}
.ilustracion-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.banner__principal-logo{
    max-width: 50%;
    position: absolute;
    top: 82%;
    z-index: 1;
}

.banner__principal-logo img{
    width: 100%;
    height: auto;
    
}

.tigre{
    z-index: 10;
    width: 80%;
}