.banner__principal{
    width: 100vw;
    background-image: url(../../imgs/tira-imagenes.png);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.ilustracion-principal{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.banner__principal-logo{
    z-index: 1;
    position: absolute;
    width: 80%;
    top: 80%;

}

.banner__principal-logo img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    
}

.tigre{
    z-index: 10;
    position: relative;
    
}

.tigre img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
